header{
    background-color: rgb(226, 49, 36);
    padding: 2rem;
}
body {
    background-color: rgb(228, 226, 226);
    font-family: VT323;
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem;
}

#pokemon{
    width: 300px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}
#btnSubmit{
    border-radius: 5px;
    border: none;
    background-color: rgb(226, 49, 36);
    color: white;
}

#btnSubmit:hover{
    background-color: black;
    transition: 0.5s;
}

#pokeCard {
    margin: auto;
    margin-bottom: 10rem;
    max-width: 25%;
    border-radius: 10px;
    background-color: white;
}

.card-container {
    padding: 10px 15px 15px 15px;
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}

#nombre {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
    padding-bottom: 20px;
}

.item-content, .item-info {
    line-height: 30px;
}

.item-content {
    width: 60%;
}

.item-info {
    width: 40%;
}

#pokeImg {
    display: block;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;    
    width: 30%;
}

.invisible {
    display: none;
}

#pokError{
    margin: auto;
    margin-bottom: 10rem;
    padding-top: 1%;
    padding-bottom: 1%;
    max-width: 20%;
    border-radius: 10px;
    background-color: #ffefff;
    text-align: center;
    color:red;
}

#pokeIndex{
    margin: auto;
    margin-bottom: 10rem;
    padding-top: 1%;
    padding-bottom: 1%;
    max-width: 70%;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    color:red;
}